@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-card: #18181b;
  --color-card-foreground: #fafafa;
  --color-popover: #09090b;
  --color-popover-foreground: #fafafa;
  --color-primary: #10b981;
  --color-primary-foreground: #020617;
  --color-secondary: #27272a;
  --color-secondary-foreground: #fafafa;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #10b981;
}

.light {
  --color-background: #ffffff;
  --color-foreground: #09090b;
  --color-card: #ffffff;
  --color-card-foreground: #09090b;
  --color-popover: #ffffff;
  --color-popover-foreground: #09090b;
  --color-primary: #10b981;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #09090b;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-accent: #f4f4f5;
  --color-accent-foreground: #09090b;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #10b981;
}

.psychedelic {
  --color-background: #000000;
  --color-foreground: #00ff00;
  --color-card: #1a001a;
  --color-card-foreground: #ff00ff;
  --color-primary: #00ffff;
  --color-border: #ff00ff;
}
